<div class="card h-100" [ngClass]="{'border-5 border-success': nota.estado.estado === 'En Curso', 'border-3 border-danger': nota.estado.estado === 'Terminada'}">
    <div class="card-header">
        <h3>{{ nota.titulo }}</h3>
        <p><strong>De:</strong> {{nota.usuario.usuario}} - {{nota.usuario.email}}</p>
    </div>
    <div class="card-body">
        <p>{{ nota.descripcion }}</p>
    </div>
    <div class="card-footer">
        <p><strong>Fecha de creación:</strong> {{ nota.fechaCreacion | date: 'dd/MM/yyyy, HH:mm' }}</p>
        <p><strong>Estado:</strong> {{nota.estado.estado}}</p>
        <div class="d-flex justify-content-end">
            <a (click)="updateEstadoNota(nota.id)"  
               [class.disabled]="nota.estado.estado !== 'En Curso'" 
               [attr.href]="nota.estado.estado === 'En Curso' ? '#' : null"
               class="btn btn-primary w-25 m-3">
               Terminar tarea
            </a>
            <a (click)="abrirModal(nota.id)" class="btn btn-danger w-25 m-3">Eliminar</a>
        </div>
    </div>

</div>
