<app-header></app-header>
<div class="m-5">
    <h2 class="text-center text-light display-4 mb-5">Usuarios</h2>
    <table class="table table-bordered w-75 mx-auto">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Rol</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios">
          <td>{{ usuario.id }}</td>
          <td>{{ usuario.usuario }}</td>
          <td>{{ usuario.email }}</td>
          <td>{{ usuario.rol.rol }}</td>
          <td class="text-center"><a [class.disabled]=" idUser === usuario.id" (click)="abrirModalConfirmar(usuario.id)" class="btn btn-danger w-auto mx-3">Eliminar</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  